backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
freeze==1.0.10
idna==2.6
ipython==5.6.0
ipython-cypher==0.2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
neo4jrestclient==2.1.1
passlib==1.7.1
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
prettytable==0.7.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py2neo==3.1.2
pycparser==2.18
Pygments==2.2.0
requests==2.18.4
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
wcwidth==0.1.7
Werkzeug==0.14.1
